mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        ourfore.st is hosted on fore.st, a fork of <a href="https://github.com/calzoneman/sync" target="_blank" rel="noreferrer noopener">CyTube</a> built for the TTN community. It's source code is available <a href="https://gitlab.com/rainbownapkin/fore.st" target="_blank" rel="noreferrer noopener">here</a>.
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
