mixin lcheckbox(id, label)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      .checkbox
        input(type="checkbox", id=id)

mixin rcheckbox(id, label, title)
  .form-group
    .col-sm-8.col-sm-offset-4
      .checkbox
        label(for=id, title=title)
          input(type="checkbox", id=id,title=title)
          = label

mixin textbox(id, label, placeholder)
  .form-group
    label.control-label.col-sm-4(for=id)= label
    .col-sm-8
      if placeholder
        input.form-control(id=id, type="text", placeholder=placeholder)
      else
        input.form-control(id=id, type="text")

mixin us-general
  #us-general.tab-pane
    h4 General Preferences
    form.form-horizontal(action="javascript:void(0)")
      .form-group
        label.control-label.col-sm-4(for="#us-theme") Theme
        .col-sm-8
          select#us-theme.form-control
            option(value="/css/themes/fore.st.css") Dawn [Frosted Glass]
            option(value="/css/themes/fore.st.lite.css") Dawn [Smoked Quartz]
            option(value="/css/themes/fore.st.dusk.css") Dusk [Frosted Glass]
            option(value="/css/themes/fore.st.dusk.lite.css") Dusk [Smoked Quartz]
            option(value="/css/themes/fore.st.neon.css") Neon [Frosted Glass]
            option(value="/css/themes/fore.st.neon.lite.css") Neon [Smoked Quartz]
            option(disabled="true") ---Holiday Themes---
            option(value="/css/themes/fore.st.candycorn.css") Candycorn [Frosted Glass]
            option(value="/css/themes/fore.st.candycorn.lite.css") Candycorn [Smoked Quartz]
            option(value="/css/themes/fore.st.mistletoe.css") Mistletoe [Frosted Glass]
            option(value="/css/themes/fore.st.mistletoe.lite.css") Mistletoe [Smoked Quartz]
      .col-sm-4
      .col-sm-8
      +rcheckbox("us-no-channelcss", "Ignore Channel CSS")
      +rcheckbox("us-no-channeljs", "Ignore Channel Javascript")
      +textbox("us-chat-min", "Chat Width Minimum (Locked to Aspect only.)", "30")
      .clear

mixin us-scripts
  #us-scriptcontrol.tab-pane
    h4 Script Access
    table.table
      thead
        tr
          th Channel
          th Type
          th Preference
          th Clear

mixin us-playback
  #us-playback.tab-pane
    h4 Playback Preferences
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-synch", "Synchronize video playback")
      +textbox("us-synch-accuracy", "Synch threshold (seconds)", "2")
      +rcheckbox("us-wmode-transparent", "Set wmode=transparent", "Allows elements to be placed over the video. May cause a bit of lag on toasters.")
      +rcheckbox("us-hidevideo", "Remove the video player")
      +rcheckbox("us-playlistbuttons", "Hide playlist buttons by default")
      +rcheckbox("us-oldbtns", "Compact playlist buttons")
      +rcheckbox("us-video-orientation", "Show video orientation buttons above player")
      .form-group
        label.control-label.col-sm-4(for="#us-default-quality",title="Will not work automagically on official YT embeds because google are dicks.") Quality Preference
        .col-sm-8
          select#us-yt-source.form-control(title="YT Embed may not work with all site features.")
            option(value="vid.puffyan.us") Raw File Link(720p)
            option(value="OFYT") Official YT Embed
      .form-group
        label.control-label.col-sm-4(for="#us-default-quality",title="Will not work automagically on official YT embeds because google are dicks.") Quality Preference
        .col-sm-8
          select#us-default-quality.form-control(title="Will not work automagically on officialy YT embeds because google are dicks.")
            option(value="auto") Auto
            option(value="240") 240p
            option(value="360") 360p
            option(value="480") 480p
            option(value="720") 720p
            option(value="1080") 1080p
            option(value="best") Highest Available

mixin us-chat
  #us-chat.tab-pane
    h4 Chat Preferences
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-chat-timestamp", "Show timestamps in chat")
      +rcheckbox("us-timestamp-second", "Show secdons in chat timestamps")
      +rcheckbox("us-sort-rank", "Sort userlist by rank")
      +rcheckbox("us-sort-afk", "Sort AFKers to bottom")
      +rcheckbox("us-legacy-emote", "Use legacy Cytube emote menu")
      +rcheckbox("us-toke-pm", "Legacy Tokebot Notifications (PM)")
      +textbox("us-whisper-clear", "Clear whisper & join/leave messages (set 0 to disable)", "10")
      .form-group
        label.control-label.col-sm-4(for="#us-blink-title",title="Only applies when not active window/tab.") Blink page title on new messages
        .col-sm-8
          select#us-blink-title.form-control(title="Only applies when not active window/tab.")
            option(value="never") Never
            option(value="onlyping") Only when I am mentioned or PMed
            option(value="always") Always
      .form-group
        label.control-label.col-sm-4(for="#us-ping-sound",title="Only applies when not active window/tab.") Notification sound on new messages
        .col-sm-8
          select#us-ping-sound.form-control(title="Only applies when not active window/tab.")
            option(value="never") Never
            option(value="onlyping") Only when I am mentioned or PMed
            option(value="always") Always
      .form-group
        label.control-label.col-sm-4(for="#us-notifications",title="Only applies when not active window/tab.") Desktop notifications on new messages
        .col-sm-8
          select#us-notifications.form-control(title="Only applies when not active window/tab.")
            option(value="never") Never
            option(value="onlyping") Only when I am mentioned or PMed
            option(value="always") Always
      +rcheckbox("us-no-emotes", "Disable chat emotes")
      .form-group
        label.control-label.col-sm-4(for="#us-chat-tab-method") Tab completion method
        .col-sm-8
          select#us-chat-tab-method.form-control
            option(value="Cycle options") Cycle options
            option(value="Longest unique match") Longest unique match

mixin us-mod
  #us-mod.tab-pane
    h4 Moderator Preferences
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-modflair", "Show name color")
      +rcheckbox("us-shadowchat", "Show shadowmuted messages")
      +rcheckbox("us-show-ip-in-tooltip", "Show IP addresses in profile tooltip")
      +rcheckbox("us-show-playlist", "Legacy Playlist")
      +rcheckbox("us-scroll-playlist", "Scroll playlist on change.")
      +rcheckbox("us-add-invid", "Queue Invidious links as YT links (may cause issues when queueing raw files).")

mixin us-access
  #us-access.tab-pane
    h4 Accessiblity Preferences
    form.form-horizontal(action="javascript:void(0)")
      +rcheckbox("us-no-lightning", "Disable Lightning")
